In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv('data_sources/date_data.csv')

In [3]:
len(df)

419

In [4]:
df.head()

,date,date_key,day_name,day_name_abbrev,day_of_month,day_of_week,day_of_year,fiscal_month_number,fiscal_year,holiday_name,...,same_day_previous_year_key,season,week_begin_date,week_begin_date_key,week_num_in_month,week_num_in_year,year,year_and_month,year_and_month_abbrev,year_and_quarter
0,2020-01-01,20200101,Wednesday,Wed,1,4,1,NaN,NaN,New Year's Day,...,20190101,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
1,2020-01-02,20200102,Thursday,Thu,2,5,2,NaN,NaN,NaN,...,20190102,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
2,2020-01-03,20200103,Friday,Fri,3,6,3,NaN,NaN,NaN,...,20190103,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
3,2020-01-04,20200104,Saturday,Sat,4,7,4,NaN,NaN,NaN,...,20190104,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
4,2020-01-05,20200105,Sunday,Sun,5,1,5,NaN,NaN,NaN,...,20190105,Winter,2020-01-05,20200105,2,1,2020,2020/01,2020/Jan,2020/Q1

Plan:
1. Remove fiscal month and fiscal year 
2. replace NaN in holiday_name by NoHoliday 
3. drop same_day_previous_year/same_day_previous_year_key
4. Add surogate keys

In [5]:
#Delete useless columns 
df = df.drop(columns=['fiscal_month_number', 'fiscal_year','fiscal_year', 'same_day_previous_year', 'same_day_previous_year_key'])

In [6]:
# Replace NaN in holiday_name by NoHoliday 
df['holiday_name'].fillna('NoHoliday', inplace=True)

In [7]:
df.head()

,date,date_key,day_name,day_name_abbrev,day_of_month,day_of_week,day_of_year,holiday_name,is_holiday,is_weekday,...,quarter_short_name,season,week_begin_date,week_begin_date_key,week_num_in_month,week_num_in_year,year,year_and_month,year_and_month_abbrev,year_and_quarter
0,2020-01-01,20200101,Wednesday,Wed,1,4,1,New Year's Day,True,True,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
1,2020-01-02,20200102,Thursday,Thu,2,5,2,NoHoliday,False,True,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
2,2020-01-03,20200103,Friday,Fri,3,6,3,NoHoliday,False,True,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
3,2020-01-04,20200104,Saturday,Sat,4,7,4,NoHoliday,False,False,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
4,2020-01-05,20200105,Sunday,Sun,5,1,5,NoHoliday,False,False,...,Q1,Winter,2020-01-05,20200105,2,1,2020,2020/01,2020/Jan,2020/Q1

In [8]:
df['date'] = pd.to_datetime(df['date'])
df['week_begin_date'] = pd.to_datetime(df['week_begin_date'])

In [9]:
df.dtypes

date                     datetime64[ns]
date_key                          int64
day_name                         object
day_name_abbrev                  object
day_of_month                      int64
day_of_week                       int64
day_of_year                       int64
holiday_name                     object
is_holiday                         bool
is_weekday                         bool
is_weekend                         bool
month_abbrev                     object
month_end_flag                     bool
month_name                       object
month_number                      int64
quarter                           int64
quarter_name                     object
quarter_short_name               object
season                           object
week_begin_date          datetime64[ns]
week_begin_date_key               int64
week_num_in_month                 int64
week_num_in_year                  int64
year                              int64
year_and_month                   object
year_and_month_abbrev            object
year_and_quarter                 object
dtype: object

In [10]:
df.rename(columns={'date_key':'date_id', 'week_begin_date_key':'week_begin_date_id'}, inplace=True)

In [11]:
df.head()

,date,date_id,day_name,day_name_abbrev,day_of_month,day_of_week,day_of_year,holiday_name,is_holiday,is_weekday,...,quarter_short_name,season,week_begin_date,week_begin_date_id,week_num_in_month,week_num_in_year,year,year_and_month,year_and_month_abbrev,year_and_quarter
0,2020-01-01,20200101,Wednesday,Wed,1,4,1,New Year's Day,True,True,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
1,2020-01-02,20200102,Thursday,Thu,2,5,2,NoHoliday,False,True,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
2,2020-01-03,20200103,Friday,Fri,3,6,3,NoHoliday,False,True,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
3,2020-01-04,20200104,Saturday,Sat,4,7,4,NoHoliday,False,False,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
4,2020-01-05,20200105,Sunday,Sun,5,1,5,NoHoliday,False,False,...,Q1,Winter,2020-01-05,20200105,2,1,2020,2020/01,2020/Jan,2020/Q1

In [12]:
df.insert(0, "date_key",  np.arange(len(df)))

In [13]:
df.head()

,date_key,date,date_id,day_name,day_name_abbrev,day_of_month,day_of_week,day_of_year,holiday_name,is_holiday,...,quarter_short_name,season,week_begin_date,week_begin_date_id,week_num_in_month,week_num_in_year,year,year_and_month,year_and_month_abbrev,year_and_quarter
0,0,2020-01-01,20200101,Wednesday,Wed,1,4,1,New Year's Day,True,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
1,1,2020-01-02,20200102,Thursday,Thu,2,5,2,NoHoliday,False,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
2,2,2020-01-03,20200103,Friday,Fri,3,6,3,NoHoliday,False,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
3,3,2020-01-04,20200104,Saturday,Sat,4,7,4,NoHoliday,False,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
4,4,2020-01-05,20200105,Sunday,Sun,5,1,5,NoHoliday,False,...,Q1,Winter,2020-01-05,20200105,2,1,2020,2020/01,2020/Jan,2020/Q1

In [14]:
df.to_csv("dimensions/date_dimension.csv", index=False)