In [34]:
import pandas as pd

In [35]:
date_df = pd.read_csv('dimensions/date_dimension.csv')
fact_table = pd.read_csv('dimensions/fact_table_m.csv')

In [36]:
fact_table.head()

,Onset_date_ID,Reported_date_ID,Test_date_ID,Specimen_date_ID,Patient_ID,PHU_Location_ID,Mobility_ID,Special_Measures_ID,Weather_ID,num_resolved,num_unresolved,num_fatal
0,20200105,20210106,20210106,20210105,184,3895,-1,12,-1,1,0,0
1,20200109,20210110,20210110,20200109,6,2270,-1,12,-1,1,0,0
2,20200112,20210113,20210113,20210112,190,2251,-1,12,-1,1,0,0
3,20200121,20210128,20210128,20210121,303,3895,-1,12,-1,1,0,0
4,20200122,20201024,20201024,20200122,78,3895,-1,1,-1,1,0,0

In [37]:
date_df.head()

,date_key,date,date_id,day_name,day_name_abbrev,day_of_month,day_of_week,day_of_year,holiday_name,is_holiday,...,quarter_short_name,season,week_begin_date,week_begin_date_id,week_num_in_month,week_num_in_year,year,year_and_month,year_and_month_abbrev,year_and_quarter
0,0,2020-01-01,20200101,Wednesday,Wed,1,4,1,New Year's Day,True,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
1,1,2020-01-02,20200102,Thursday,Thu,2,5,2,NoHoliday,False,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
2,2,2020-01-03,20200103,Friday,Fri,3,6,3,NoHoliday,False,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
3,3,2020-01-04,20200104,Saturday,Sat,4,7,4,NoHoliday,False,...,Q1,Winter,2019-12-28,20191228,1,1,2020,2020/01,2020/Jan,2020/Q1
4,4,2020-01-05,20200105,Sunday,Sun,5,1,5,NoHoliday,False,...,Q1,Winter,2020-01-05,20200105,2,1,2020,2020/01,2020/Jan,2020/Q1

In [38]:
onset_date_dimension = date_df
reported_date_dimension = date_df
test_date_dimension = date_df
specimen_date_dimension = date_df

In [39]:
len(onset_date_dimension)

419

In [40]:
len(reported_date_dimension)

419

In [41]:
onset_date_dimension = onset_date_dimension.loc[onset_date_dimension['date_id'].isin(fact_table['Onset_date_ID'])]

In [42]:
len(onset_date_dimension)

183

In [43]:
reported_date_dimension = reported_date_dimension.loc[reported_date_dimension['date_id'].isin(fact_table['Reported_date_ID'])]

In [44]:
len(reported_date_dimension)

124

In [45]:
test_date_dimension = test_date_dimension.loc[test_date_dimension['date_id'].isin(fact_table['Test_date_ID'])]

In [46]:
specimen_date_dimension = specimen_date_dimension.loc[specimen_date_dimension['date_id'].isin(fact_table['Specimen_date_ID'])]

In [48]:
onset_date_dimension.to_csv('dimensions/onset_date_dimension.csv', index=False)
reported_date_dimension.to_csv('dimensions/reported_date_dimension.csv', index=False)
test_date_dimension.to_csv('dimensions/test_date_dimension.csv', index=False)
specimen_date_dimension.to_csv('dimensions/specimen_date_dimension.csv', index=False)