In [1]:
import pandas as pd 
import sys

In [2]:
fact_table = pd.read_csv('dimensions/fact_table_final.csv')
date_dimension = pd.read_csv('dimensions/date_dimension.csv')
special_measures_dimension = pd.read_csv('dimensions/special_measures_dimension.csv')

In [3]:
special_measures_dimension.dtypes

Special_Measures_key      int64
Title                    object
Description              object
keyword_1                object
keyword_2                object
start_date               object
end_date                 object
value                   float64
dtype: object

In [4]:
date_dimension['date'] = pd.to_datetime(date_dimension['date'])
special_measures_dimension['start_date'] = pd.to_datetime(special_measures_dimension['start_date'])
special_measures_dimension['end_date'] = pd.to_datetime(special_measures_dimension['end_date'])

In [5]:
fact_table.head()

,Onset_date_surrogate,Reported_date_surrogate,Test_date_surrogate,Specimen_date_surrogate,Patient_surrogate,PHU_Location_surrogate,Mobility_surrogate,Special_Measures_surrogate,Weather_surrogate,num_resolved,num_unresolved,num_fatal
0,4,371,371,370,184,0,712,12,92,1,0,0
1,8,375,375,8,6,2,592,12,96,1,0,0
2,11,378,378,377,190,5,99,12,223,1,0,0
3,20,393,393,386,303,0,734,12,114,1,0,0
4,21,297,297,21,78,0,638,1,18,1,0,0

In [6]:
y = len(fact_table)
for idx, row in fact_table.iterrows():
    sys.stdout.write("\r{0} out of {1} generated...".format(idx,y))
    reported_date = date_dimension[date_dimension["date_key"]==row["Reported_date_surrogate"]]["date"].values[0]
    special_measure_start = special_measures_dimension[
        special_measures_dimension['Special_Measures_key']==row['Special_Measures_surrogate']]["start_date"].values[0]
    
    if (reported_date < special_measure_start):
        print(F"bad dates for row {idx}")
        print(F"Reported date: {reported_date}")
        print(F"Start date: {reported_date}")

112351 out of 112352 generated...

In [7]:
type(special_measures_dimension.start_date)

pandas.core.series.Series

In [9]:
len(set(fact_table['Special_Measures_surrogate']))

9